* {
	box-sizing: border-box;
}

body,
html {
	height: 99.9%;
	margin: 0;
    padding: 0;
    
}

@font-face {
	font-family: '8515oem';
	src: url('./fonts/Dotf1.woff') format('woff'), url('./fonts/Dotf1.woff2') format('woff2');
}

@font-face {
	font-family: 'caviardreams';
	src: url('./fonts/CaviarDreams.ttf') format('truetype');
}

main {
	height: 99.9%;
	display: grid;
	grid-template-columns: minmax(auto, 560vw) minmax(auto, 100vw);
	overflow: hidden;
}

#landingPage {
	position: relative;
	display: grid;
	grid-template-rows: minmax(auto, 1fr) minmax(auto, 0.25fr);
	width: 560vw;
}

#scenery {
	background-image: url('./images/mainsignboard.jpg');
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.smokeul {
	list-style-type: none;
	position: absolute;
	bottom: 0vh;
	left: 200px;
	/* transform: translateX(-50%); */
	margin: 0;
	padding: 0;
}

.smokeul li {
	position: absolute;
	border-radius: 5vw;
	width: 5.34vw;
	height: 10.68vh;
	background: #262626;
}

.smokeul li:nth-child(even) {
	animation: animEven 2.8s linear infinite;
	-webkit-animation: animEven 2.8s linear infinite;
    -moz-animation: animEven 2.8s linear infinite;
	-o-animation: animEven 2.8s linear infinite;
}

.smokeul li:nth-child(odd) {
	animation: animOdd 2.8s linear infinite;
	-webkit-animation: animOdd 2.8s linear infinite;
    -moz-animation: animOdd 2.8s linear infinite;
	-o-animation: animOdd 2.8s linear infinite;
}

.smokeul li:nth-child(9) {
		animation: none;
	-webkit-animation: none;
    -moz-animation: none;
	-o-animation: none;
	filter: blur(15px);
}

@-webkit-keyframes animEven {
	0% {
		-webkit-transform: translate(0, 0) scale(1);
		opacity: 1;
		filter: blur(5px);
	}

	100% {
		-webkit-transform: translate(100px, -500px) scale(3);
		opacity: 0;
		filter: blur(10px);
	}
}

@keyframes animEven {
	0% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
		filter: blur(5px);
	}

	100% {
		transform: translate(100px, -500px) scale(3);
		opacity: 0;
		filter: blur(10px);
	}
}

@-webkit-keyframes animOdd {
	0% {
		-webkit-transform: translate(0, 0) scale(1);
		opacity: 1;
		filter: blur(5px);
	}

	100% {
		-webkit-transform: translate(-100px, -500px) scale(3);
		opacity: 0;
		filter: blur(10px);
	}
}

@keyframes animOdd {
	0% {
		transform: translate(0, 0) scale(1);
		opacity: 1;
		filter: blur(5px);
	}

	100% {
		transform: translate(-100px, -500px) scale(3);
		opacity: 0;
		filter: blur(10px);
	}
}

.smokeul li:nth-child(1) {
	animation-delay: 0.2s;
}

.smokeul li:nth-child(2) {
	animation-delay: 0.4s;
}

.smokeul li:nth-child(3) {
	animation-delay: 0.8s;
}

.smokeul li:nth-child(4) {
	animation-delay: 1.2s;
}

.smokeul li:nth-child(5) {
	animation-delay: 1.6s;
}

.smokeul li:nth-child(6) {
	animation-delay: 2s;
}

.smokeul li:nth-child(7) {
	animation-delay: 2.4s;
}

.smokeul li:nth-child(8) {
	animation-delay: 2.8s;
}

.smokeul li:nth-child(9) {
	animation-delay: 3.2s;
}

#bikeImg {
	position: absolute;
	bottom: -40vh;
	background-image: url('./images/bikewithoutwheel.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	z-index: 1;
	/* border: 3px solid black; */
}

@-webkit-keyframes slide1 {
	0% {
		-webkit-transform:  translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform:  translate3d(-460vw, 0, 0);
	}

}

@keyframes slide1 {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-460vw, 0, 0);
	}
}



#road {
	background-image: url('./images/road.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	height: 25vh;
	bottom: 0vh;
	position: relative;
	/* border: 2px solid black; */
}

#bwheel {
	position: absolute;
	bottom: 20vh;
	float: left;
	object-fit: 100% 100%;
	background-image: url('./images/unnamed.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

#fwheel {
	position: absolute;
	bottom: 20vh;
	object-fit: 100% 100%;
	background-image: url('./images/unnamed.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}



#banner {
	content: url('./images/poles.png')
}


/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&  */
#resume {
	position: relative;
	width: 100vw;
	display: grid;
	grid-template-rows: repeat(4, 140vh);
	overflow: auto;
	animation: slide1 4s linear forwards;
		-webkit-animation: slide1 4s linear forwards;
    -moz-animation: slide1 4s linear forwards;
	-o-animation: slide1 4s linear forwards;
}


 th {
		border: 2px solid #ffffcc;
		height: 7vh;
		color: #ffffcc;
		font-size: 25px;
	}

	th:nth-of-type(1) {
				width: 10vw;

	}
		th:nth-of-type(2) {
		width: 45vw;
	}

	td {
		width: 20vw;
		color: #ffffcc;
		font-size: 20px;
		height: 10vh;
	    border: 2px solid #ffffcc;
		text-align: center;
		cursor: pointer;
	}

	td a {
		color: #ffffcc;
		font-size: 20px;

	}

	td a:hover {
		color: pink;
	}




.image {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-image: url('./images/arycolouredited.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 20vw;
    height: 30vh;
}



#profile,#skills {
	background-image: url('./images/orangeBG.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	
}



/* #contents1 {
		position: relative;

} */




.profile {
				display: flex;
	justify-content: center;
		width: 60%;
			height: 100vh;

}



#front h1 {
	width: 18vw;
}

.text {
	padding: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}
h2,
h3,
h4 {
	font-family: 'caviardreams';
	font-weight: bolder;
    color: rgb(255, 68, 93);
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
li,
p {
	font-family: 'caviardreams';
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
    color: #ffffcc;
        letter-spacing: 1px;

        word-spacing: 1.5px;

}
h3 {
	font-weight: bold;
	font-family: '8514oem';
}
h1 {
	text-align: center;
	font-family: '8514oem';
	font-size: 40px;
	margin: 0%;
}

#profileStatement {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #331300;
	border-radius: 20px;
	overflow: auto;
	padding: 20px;
	text-align: center;
}

#profileStatement {
	text-align: left;
}

#basicInfo h3 {
	font-size: 1em;
}

.text > h2 {
	width: 40%;
		margin-left: auto;
	margin-right: auto;

}

#basicInfo > p {
	font-size: 0.8em;
}

p #email {
	text-transform: lowercase;
}

#experience,
#education {
	background-image: url('./images/nightBG.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: flex-end;
	padding: 20px;
}

#eduDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 50px;
	overflow: auto;
}



#contents1,
#contents2 {
	width: 74vw;
	height: 120vh;
	/* border: 2px solid white; */
	opacity: 0.8;
	border-radius: 20px;
	line-height: 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-right: 20px;
		margin-top: auto;
	margin-bottom:auto;
}

#contents1 {
	background-color: #330000;
	padding: 10px;
}

#contents2 {
	background-color: #000033;
	overflow: auto;
	padding: 20px;
}

	#front{
			width: 74vw;
			height: 120vh;
			position: relative;
		} 


		
#basicInfo {
	display: grid;
	grid-template-rows: 30vh 50vh;
	height: 100vh;
	position: absolute;	
	top: 0%;
    left: 20%;
	grid-gap: 5vh;
	justify-content: center;
	align-items: center;
	margin-top: 15vh;
	width: 60%;
	backface-visibility: hidden;
	transition: transform 0.6s linear;
	overflow: hidden;
	transform: perspective(600px) rotateY(0deg);

}
	
		#contactInfo {
			width: 60%;
			height: 100vh;
			background-image: url('./images/nightBG.png');
			position: absolute;	
			top: 0%;
			left: 20%;
			margin-top: 15vh;
			backface-visibility: hidden;
			transition: transform 0.6s linear;
			overflow: hidden;
			transform: perspective(600px) rotateY(180deg);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0.8;
			border-radius: 20px;
		}
		#content {
			background-color: #000033;
			width: 80%;
			height: 200px;
			text-align: center;
			color: #ffffcc;
			opacity: 1;
			border: 2px solid black;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border-radius: 20px;
			border: 2px solid white;
		}

			#front:hover > #basicInfo {
						transform: perspective(600px) rotateY(-180deg);

		}	

			#front:hover > #contactInfo {
						transform: perspective(600px) rotateY(0deg);

		}

#contents1 ol {
	overflow: auto;
}

#contents2 h2 {
	border-bottom: 3px double #ffffcc;
}

#contents2 h3 {
	border-bottom: 1px solid #ffffcc;
}

h1 {
	font-family: '8514oem';
	color: #ffffcc;
}

h3,
h4,
ol,
li,
h2 {
	font-family: 'caviardreams';
	color: #ffffcc;
}

h1 {
	text-align: center;
	line-height: 1.5em;
	border-bottom: 3px dashed #ffffcc;
	margin-left: auto;
	margin-right: auto;
}


/* @keyframes example {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

.workExp {
	margin-top: auto;
	margin-bottom:auto;
	/* border: 2px solid white; */
	width: 74vw;
	opacity: 0.8;
	border-radius: 20px;
	background-color: #000033;
	padding: 0;
	margin-right: 20px;
	overflow: hidden;
    height: 120vh;
	position: relative;
}

#staticHeader {
    position: absolute;
    top: 0;
    left: 0vw;
	z-index: 1;
	height: 120vh;
	width:74vw;
}

#title {
	display: flex;
	justify-content: center;
	align-items: center;
}

#d1 {
	display: grid;
	grid-template-rows: 6vh 90vh 6vh;
	width: 74vw;
	margin-top: 5vh;

	
}

#Prev,#Next {
	color: #ffffcc;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 20px bolder;

}
#Prev button, #Next button{
    width: 10vw;
}

#Next button, #Prev button {
    /* z-index: 1; */
}

#weContent {
    /* z-index:-1; */
	padding: 0px;
	overflow: hidden;
	display: grid;
    grid-template-columns: repeat(8, 74vw);
    height:85vh;
	width: 592vw;
	/* grid-gap: 10vw; */
	position: relative;
	margin-top: 22vh;
		                /* border: 2px solid red; */

	/* margin-left: 5vw; */
		/* border: 2px solid magenta; */


}


/* .workExp2 {
	display: grid;
	grid-template-rows: 12vh 50vh;
    width: 74vw;
	position: relative;
} */



#stopAnimHere {
	display: flex;
	flex-direction: column;
	align-items:center;
}
#Comp1,
#Comp2,
#Comp3,
#Comp4,
#Comp5,
#Comp6,
#Comp7,
#Comp8 {
	position: relative;
	border-radius: 20px;
		/* display: flex;
	flex-direction: column;
	align-items:center;	 */
	z-index: 1;
	/* border: 2px solid white; */
	padding: 20px;
}

#Next {
	color: #ffffcc;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 20px bolder;
}



